h2{
    text-align: center;
}

*{
    font-family: sans-serif;
 
}
.list-container{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info{
    background-color: #8aa6bc;
  

}
@media only screen and (max-width: 600px) {
    .list-container {
        margin: auto;
        margin-top: 0px;
        margin-bottom: 100px;
        width: 100%;

        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
 
    }
    
  }